In [79]:
from dataclasses import dataclass, field
from enum import Enum

import datetime
import string
import random

In [3]:
@dataclass
class Point:
    x: float
    y: float
    
    def __repr__(self):
        return f'A point ({self.x}, {self.y})'
      

Point(1.2, 3.5), Point(-2.7, 9.5)

(A point (1.2, 3.5), A point (-2.7, 9.5))

In [5]:
@dataclass
class Person:
    name: str
    age: int
    
    def __repr__(self):
        return ''
    
    def __lt__(self, other):
        return self.age < other.age
    
    
ivan = Person('Ivan', 23)
niki = Person('Niki', 37)
niki2 = Person('Niki', 37)

ivan < niki, niki == niki2

(True, True)

In [10]:
@dataclass
class Car:
    make: str
    model: str
    year: int = 1900
    
    def __ge__(self, other):
        return self.year >= other.year
    
    def __eq__(self, other):
        return self.make == other.make and self.model == other.model
    

honda = Car('Honda', 'Jazz', 2012)
toyota = Car('Toyota', 'Corolla')
toyota2 = Car('Toyota', 'Corolla', 2018)
    
honda, toyota, toyota==toyota2

(Car(make='Honda', model='Jazz', year=2012),
 Car(make='Toyota', model='Corolla', year=1900),
 True)

In [23]:
@dataclass(order=True)
class Book:
    sort_index: int = field(init=False, repr=False)
    title:str
    author:str = field(repr=False)
    publication_year:int
    isbn: int = field(repr=False, default=None)
    
    def __post_init__(self):
        self.sort_index = self.title
    
b1 = Book('The Great Gatsby', 'F. Scott Fitzgerald', 1925)
b2 = Book('To Kill a Mockingbird', 'Harper Lee', 1960)
b3 = Book('1984', 'George Orwell', 1949)
b4 = Book('Pride and Prejudice', 'Jane Austen', 1813)

list(sorted([b1, b2, b3, b4]))

[Book(title='1984', publication_year=1949),
 Book(title='Pride and Prejudice', publication_year=1813),
 Book(title='The Great Gatsby', publication_year=1925),
 Book(title='To Kill a Mockingbird', publication_year=1960)]

In [46]:
class TaskStatus(Enum):
    PENDING = 'PENDING'
    INPROGRESS = 'INPROGRESS'
    COMPLETED = 'COMPLETED'
    
    
@dataclass
class Task:
    description: str
    due_by: datetime.date
    status: TaskStatus
    
    def __gt__(self, other):
        self.due_by < other.due_by
        

t1 = Task('do the car insurance', date(2024, 3, 30), TaskStatus.PENDING)
t2 = Task('sell the old washing machine', date(2023, 12, 15), TaskStatus.INPROGRESS)

t1 < t2

In [43]:
# date(year, month, day) --> date object
ico = date(1990, 7, 26)
toni = date(1992, 2, 9)

ico < toni

True

```python
@dataclass
class Employee:
    uid: int
    name: str
    groups: list[str] = []  -> # ValueError: mutable default <class 'list'> 
                               # for field groups is not allowed: use default_factory

    

e1 = Employee(245891, 'Emma Watson', ['Marketing', 'Public Relations'])
e2 = Employee(389712, 'John Doe', ['Software Development', 'Quality Assurance'])
e3 = Employee(587301, 'Alice Johnson', ['Sales', 'Customer Relations'])

e1, e2, e3
```

In [78]:
@dataclass
class Employee:
    uid: int
    name: str
    groups: list[str] = field(default_factory=list)
    

e1 = Employee(245891, 'Emma Watson', ['Marketing', 'Public Relations'])
e2 = Employee(389712, 'John Doe', ['Software Development', 'Quality Assurance'])
e3 = Employee(587301, 'Alice Johnson', ['Sales', 'Customer Relations'])

e1, e2, e3

(Employee(uid=245891, name='Emma Watson', groups=['Marketing', 'Public Relations']),
 Employee(uid=389712, name='John Doe', groups=['Software Development', 'Quality Assurance']),
 Employee(uid=587301, name='Alice Johnson', groups=['Sales', 'Customer Relations']))

In [82]:
def generate_password(lenght: int) -> str:
    chars = (string.ascii_letters
            + string.digits
            + r'!?*#')
    
    return ''.join(random.choices(chars, k=lenght))



generate_password(8), generate_password(24)

('TVRJkEBQ', 'ALCCRkfB#y1Hf8dpeBxot#kP')

In [85]:
def generate_password_8chars():
    return generate_password(8)

generate_password_8chars(), generate_password_8chars()

('pG?Hl9mV', 'KHSP#iZT')

In [89]:
@dataclass
class Employee:
    uid: int
    name: str
    groups: list[str] = field(default_factory=list)
    pw: str = field(default_factory=generate_password_8chars)
    

e1 = Employee(245891, 'Emma Watson', )
e2 = Employee(389712, 'John Doe', pw='I_SET_IT_SDOPAODPAMSALS')
e3 = Employee(587301, 'Alice Johnson', ['Sales', 'Customer Relations'])

e1, e2, e3

(Employee(uid=245891, name='Emma Watson', groups=[], pw='uGhEvdm4'),
 Employee(uid=389712, name='John Doe', groups=[], pw='I_SET_IT_SDOPAODPAMSALS'),
 Employee(uid=587301, name='Alice Johnson', groups=['Sales', 'Customer Relations'], pw='n7xhRGPl'))

```python
@dataclass
class Employee:
    uid: int
    name: str
    groups: list[str] = field(default_factory=list)
    pw: str = field(default_factory=generate_password_8chars, init=False)  # new
    

e1 = Employee(245891, 'Emma Watson', )
e2 = Employee(389712, 'John Doe', pw='I_SET_IT_SDOPAODPAMSALS')  # TypeError: Employee.__init__() got an unexpected keyword argument 'pw'
e3 = Employee(587301, 'Alice Johnson', ['Sales', 'Customer Relations'])

e1, e2, e3
```